*{
    background-color: #4BF74B;
}
.panel-default > .panel-body{
    color:black;
    background:#5882FA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    text-align: center;
    color: black;
}